
<!DOCTYPE html>
<html>
  <head>
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script>
      !function ($) {
        $(function(){
          var access_token = '';
          var platform_uid = '';
          var expires_in = '';

          var url_hash_array = window.location.hash.split('&');
          for (var i = 0; i < url_hash_array.length; i++) {
            var hash_kv = url_hash_array[i];
            if (hash_kv.indexOf('#') == 0)
              hash_kv = hash_kv.substring(1);

            if (hash_kv.indexOf('access_token') == 0)
              access_token = hash_kv.slice('access_token='.length);

            if (hash_kv.indexOf('uid') == 0)
              platform_uid = hash_kv.slice('uid='.length);

            if (hash_kv.indexOf('expires_in') == 0)
              expires_in = hash_kv.slice('expires_in='.length)

            if (access_token && platform_uid)
              break;
          }

          // login failed.
          if (!access_token || !platform_uid) {
            window.location = '/';
            return;
          }

          $.ajax({
            type: 'GET',
            url: 'https://api.weibo.com/2/users/show.json',
            data: { access_token: access_token, uid: platform_uid },
            contentType: "jsonp",
            dataType: 'jsonp',
            success: function (ret_val) {
              login(access_token, expires_in, JSON.stringify(ret_val))
            }
          });

        })
      }(window.jQuery)

      function login(access_token, expires_in, platform_data) {
        $.post('/login', {access_token: access_token, expires_in: expires_in, source: 'weibo', platform_data: platform_data})
            .done(function(data) {
              window.location = '/';
            });
      }
    </script>
  </head>
  <body>
  </body>
</html>